.body {
  background-color: #323332;
  padding: 0px;
  borders: 0px;
  -webkit-overflow-scrolling: touch;
}

textarea {
  background-color: #323332;
  color: #fff;
  padding 0px;
  borders: 0px;
  -webkit-overflow-scrolling: touch;
}
