html,body {
	margin: 0;
	padding: 0;
	height: 100%;
}
.slider {
	width: 100%;
	height: 100%;
	size: cover;
	repeat: no-repeat;
	
}

.slider-wrapper {
	width: 100%;
	height: 100%;
	position: center;
}

.slide {
	float: left;
	position: center;
	size: cover;
	width: 100%;
	height: 100%;
	opacity: 0;
	transition: opacity 3s linear;
}

.slider-wrapper > .slide:first-child {
	opacity: 1;
}
